<div class="mt-5 col-md-6 offset-md-3">
    <form class="shadow p-5 border" #formLogin="ngForm" (ngSubmit)="logar()">
        <div class="form-row">
            <div class="form-group col-sm-12">
                <label for="nameUser">Usuário</label>
                <input #name="ngModel" required email type="text" class="form-control" id="nameUser" name="name" [(ngModel)]="user.name" placeholder="seu_email@email.com">
                <div *ngIf="!name.valid && name.touched" class="alert alert-danger">
                    <p>Erro: e-mail inválido!</p>
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-sm-12">
                <label for="pwd">Senha</label>
                <input #password="ngModel" required type="password" class="form-control" id="pwd" name="senha" [(ngModel)]="user.senha" placeholder="Password">
                <div *ngIf="!password.valid && password.touched" class="alert alert-danger">
                    <p>Erro: campo obrigatório!</p>
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class='form-group col-sm-12'>
                <button [disabled]="!formLogin.valid" type="submit" class='btn btn-primary btn-block'>Login</button>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group text-center col-sm-12">
                <p class="text-info">Não possui uma conta?</p>
            </div>
            <div class="form-group col-sm-12">
                <button type="button" class="btn btn-block btn-outline-info" routerLink="/sign-up">Cadastre-se</button>
            </div>
        </div>
    </form>
</div>
