<h3 class="title-login">Indetifique-se <fa-icon [icon]="cadeado"></fa-icon></h3>
<div class="container login">
    <div class="mt-5 col-md-6 offset-md-3">
        <form class="shadow p-5 border" #formLogin="ngForm" (ngSubmit)="logar()">
            <div class="form-row">
                <div class="form-group col-sm-12">
                    <label for="nameUser"><fa-icon [icon]="people"></fa-icon> Usuário</label>
                    <input #email="ngModel" required email type="text" class="form-control" id="nameUser" name="email" ngModel placeholder="seu_email@email.com">
                    <div *ngIf="!email.valid && email.touched" class="alert alert-danger">
                        <p>Erro: e-mail inválido!</p>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-sm-12">
                    <label for="pwd"><fa-icon [icon]="pwd"></fa-icon> Senha</label>
                    <input #password="ngModel" required minlength="3" type="password" class="form-control" id="pwd" name="password" ngModel placeholder="Password">
                    <div *ngIf="!password.valid && password.touched" class="alert alert-danger">
                        <p>Erro: campo obrigatório e com no mínimo 03 caracteres!</p>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class='form-group col-sm-12'>
                    <button [disabled]="formLogin.invalid" type="submit" class='btn btn-danger btn-block'>
                        Login <fa-icon [icon]="entrar"></fa-icon>
                    </button>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group text-center col-sm-12">
                    <p class="text-info">Não possui uma conta?</p>
                </div>
                <div class="form-group col-sm-12">
                    <button type="button" class="btn btn-block btn-outline-dark" routerLink="/sign-up">
                        Cadastre-se <fa-icon [icon]="addAcount"></fa-icon>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
