<div class='container align-items-center my-space'>
  <div class="row">
    <div class='col-sm-6'>
      <ul class="list-group">
        <li *ngFor="let curso of myCurso" class="list-group-item">
          <a [routerLink]="['course', curso.id]" routerLinkActive="router-link-active">
            {{curso.title}}
          </a>
        </li>
      </ul>
    </div>
    <!--- Local onde o componente da rota filha será renderizado -->
    <div class='col-sm-6'>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
