<div class='container'>
  <div class='row'><p>Lista de Cursos</p></div>
  <div class='row'>
      <div id="accordion">
        <div class="card" *ngFor='let curso of myCurso'>
          <div class="card-header" id='{{curso.id}}'>
            <h5 class="mb-0">
              <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                  {{curso.title}}
              </button>
            </h5>
          </div>
          <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body">
              <p>Número de aulas: {{curso.qtdAulas}}</p>
              <p>Apenas: {{curso.price}}</p>
              <p>Código: {{ curso.id }}</p>
              <button class='btn btn-info' [routerLink]="['/course', curso.id]">Ler+</button>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>
