<form class="shadow p-5 mr-5 ml-5 mt-2 mb-2">
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" placeholder="seu_email@email.com">
        </div>
        <div class="form-group col-md-6">
            <label for="password">Senha</label>
            <input type="password" class="form-control" id="pwd" placeholder="Password">
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-4">
            <label for="cep">CEP</label>
            <input type="text" class="form-control" id="cep" placeholder="EX: 64800-000">
        </div>
        <div class="form-group col-md-6">
            <label for="inputCity">Cidade</label>
            <input type="text" class="form-control" id="inputCity">
        </div>
        <div class="form-group col-md-2">
            <label for="inputState">UF</label>
            <select id="inputState" class="form-control">
        <option selected>Choose...</option>
        <option>AL</option>
      </select>
        </div>
    </div>
    <div class="form-row">

        <div class="form-group col-md-4">
            <label for="bairro">Bairro</label>
            <input type="text" class="form-control" id="bairro" placeholder="Ex: centro">
        </div>

        <div class="form-group col-md-6">
            <label for="logradouro">Logradouro</label>
            <input type="text" class="form-control" id="logradouro" placeholder="Ex: Avenida Euripedes de aguiar">
        </div>

        <div class="form-group col-md-2">
            <label for="num">Nº</label>
            <input type="number" class="form-control" id="num" placeholder="Ex: 102">
        </div>
    </div>
    <div class="form-row">
        <button type="submit" class="btn btn-primary">Criar conta</button>
    </div>
</form>
